/* General styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #191919;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;


  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

#manage-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 100px;
}

h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

label {
  color: #f0f0f0;
}

select {
  padding: 6px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: #202020;
  color: #f0f0f0;
  cursor: pointer;
  /* appearance: base-select; */
}

.status {
  font-size: 13px;
  font-weight: bold;
  font-family: monospace;
  padding: 1px 5px;
  color: black;
  border-radius: 12px;
}

button {
  width: 100%;
  padding: 10px;
  background: #0070e7;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #045fc1;
  transform: translateY(-1px);
}

button:active {
  background: #004992;
  transform: translateY(2px);
}

.x-button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  padding: 0 0 2px 0;

  background: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 20px;
  cursor: pointer;
}

.task .x-button {
  height: 30px;
  width: 30px;

  top: 9px;
  right: 9px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: #404040;
}

.task:hover .x-button {
  opacity: 1;
}

.x-button:hover {
  background-color: #4d4d4d;
}

#close-create-task-div-button,
#close-edit-task-div-button,
#close-view-task-div-button {
  top: 20px;
  right: 30px;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#root {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

#app-container {
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  flex: 5;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* overflow-y: auto; */
}

#left-nav {
  flex: 0;
  min-width: 50px;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

  height: 100vh;
  background-color: #202020;
  color: #f0f0f0;
  padding: 10px;
  user-select: none;
  border-right: #353535 1px solid !important;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;

  overflow-x: hidden;
  white-space: nowrap;
}

.nav-expanded {
  flex: 1 !important;
  min-width: 220px !important;
}

.nav-label {
  display: none;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s, display 0.2s;
  transition-behavior: allow-discrete;
}

#left-nav.nav-expanded .nav-label {
  display: inline-block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.left-nav-items {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-icon {
  height: 30px;
  width: 30px;
  border-radius: 25%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#left-nav.nav-expanded .left-nav-items {
  cursor: pointer;
  border-radius: 7px;
}

#left-nav.nav-expanded .left-nav-items:hover {
  background-color: #3b3b3b;
}

.nav-icon:hover {
  background-color: #3b3b3b;
}

hr {
  width: 95%;
  margin: auto;
}

#title-underline {
  width: 250px;
}

h2,
h3 {
  color: #f0f0f0;
  margin: 0 0 10px 0;
}

h3 {
  margin: 0 0 5px 0;
}

h1 {
  color: #f0f0f0;
  text-align: center;
  margin: 20px 0 2px 0;
}

p {
  color: #f0f0f0;
  font-size: 14px;
  margin: 5px 0 0 0;
}

#home-panel {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

#tasks-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 100px;
}

.task {
  background: #252525;
  margin: 10px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(114, 114, 114, 0.1);
  position: relative;
  cursor: pointer;
}

.task:hover {
  background-color: #373737;
  transform: translateY(-1px);
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

#create-task-div,
#edit-task-div,
#view-task-div {
  height: 100vh;
  /* width: 90vw;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%); */
  background-color: #252525;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

#edit-task-div div {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"],
textarea {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #202020;
  color: #f0f0f0;
}

#task-name-input,
#task-name {
  height: 40px;
  font-size: 20px !important;
}

#task-description-input,
#task-description {
  height: 100%;
  resize: none;
}

.hidden {
  display: none !important;
}


.mode-copying {
  background-color: #5f5f5f !important;

}

.mode-copying:hover {
  background-color: #0000ff !important;
  cursor: copy !important;
}

.mode-copying-button {
  background-color: #1919a0 !important;
}

.mode-copying-button:hover {
  background-color: #0000ff !important;
}

#task-heading,
#task-pera {
  padding: 10px;
  border-radius: 10px;
  background-color: #252525;
}

#task-pera {
  height: 100%;
  overflow-y: auto;
}


/* Responsive styles code should be here */
@media (max-width: 768px) {
  #manage-buttons {
    flex-direction: column;
    gap: 10px;
    margin: 20px 80px;
  }

  #home-panel {
    overflow-y: auto;
    margin: 0 0 0 46px;
  }

  #edit-task-div {
    margin: 0 0 0 46px;
  }

  .x-button {
    top: 12px !important;
    right: 12px !important;
    background-color: #363636;
  }

  #create-task-div {
    margin: 0 0 0 46px;
  }

  #tasks-div {
    grid-template-columns: 1fr;
    place-self: center;
    margin: 0 10px;
  }

  #left-nav {
    position: fixed;
    z-index: 2000;
  }
}


.deleting {
  background-color: #545454 !important;
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}